body {
  font-family: sans-serif;
  line-height: 1.8rem;
  margin: 2rem;
  max-width: 24rem;
  text-align: justify;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
}
