<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css" type="text/css">
  <title>{{ .Title }}</title>
</head>

<body>
  {{ if (gt (len .Children) 0) }}
    <h1>{{ .Title }}</h1>
    <p>
      <ul>
        {{ range $i, $c := .Children }}
          <li><a href="{{ $c }}">{{ $c }}</a></li>
        {{ end }}
      </ul>
    </p>
  {{ else }}
    {{ if (ne .Date "") }}
      <p>{{.Date}}</p>
    {{ end }}

    {{.Body}}
  {{ end }}
</body>

</html>
